# Advanced Python - Module 3 Practice - Jake Duffin

In [26]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [27]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [28]:
soup = BeautifulSoup(response, 'html.parser')

In [29]:
soup.find('table').find_all('tr', class_='employee')[0].find_all('td')[1].text

'John Doe'

In [30]:
for employee in soup.find('table').find_all('tr', class_='employee'):
  print(employee.find_all('td')[1].text)

John Doe
Jane Smith
Robert Johnson
Mary Johnson
Michael Brown
Susan Davis
David Wilson
Linda Miller

In [31]:
name_prac = []

for employee in soup.find('table').find_all('tr', class_='employee'):
  name_prac.append(employee.find_all('td')[1].text)

name_prac

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [32]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
  id.append(employee.find_all('td')[0].text)
  name.append(employee.find_all('td')[1].text)
  age.append(employee.find_all('td')[2].text)

print(id)
print(name)
print(age)

['101', '102', '103', '104', '105', '106', '107', '108']
['John Doe', 'Jane Smith', 'Robert Johnson', 'Mary Johnson', 'Michael Brown', 'Susan Davis', 'David Wilson', 'Linda Miller']
['28', '32', '24', '29', '35', '27', '31', '33']

In [33]:
df = pd.DataFrame({
    'id' : id,
    'name' : name,
    'age' : age

})

In [34]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes
None

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35

In [35]:
df['id'] = df['id'].astype(int)
df['age'] = df['age'].astype(int)

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes
None

    id            name  age
0  101        John Doe   28
1  102      Jane Smith   32
2  103  Robert Johnson   24
3  104    Mary Johnson   29
4  105   Michael Brown   35

In [37]:
# Question 1

df['age'].mean()

np.float64(29.875)

In [39]:
# Question 2

round(df['age'].std(), 2)

3.56